/* Google Fonts removed support for the classic Roboto styles
   Substituting with Noto Sans (has similar proportions and clean look/feel) */

* {
    font-family: 'Noto Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    height: 80px;
    display: flex;
}

img {
    width: 100%;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo {
    width: 140px;
}

.text__purple {
    color: #7342d6;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

.nav__link {
    margin-left: 16px;
    text-decoration: none;
    font-size: 16px;
    color: #7342d6;
    font-weight: bold;
    padding: 8px;
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__link--primary {
    border: 2px solid #7342d6;
    border-radius: 4px;
}

.nav__link--primary:hover {
    text-decoration: none;
}

#landing {
    background-color: rgba(115, 66, 214, 0.1);
}

header {
    height: calc(100vh - 80px);
}

.header__container {
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header__description {
    text-align: center;
}

h1 {
    font-size: 42px;
    color: #7342d6;
    margin-bottom: 24px;
    text-align: center;
}

h2 {
    font-size: 24px;
    margin-bottom: 32px;
    text-align: center;
}

button {
    cursor: pointer;
}

button:active {
    transform: translateY(1px);
}

.btn {
    background-color: #7342d6;
    color: white;
    padding: 8px 20px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
}